
body {
  background-color: #fff;
  color: rgba(0, 0, 0, .8);
}

$header-height: 4rem;

.doc {

  &.doc-row {
    margin-top: 1rem;
  }

  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &.doc-col{
    display: inline-block;
    margin-right: 1rem;
  }

  h3, p {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }

  &.header {
    height: $header-height;

    .title {
      svg {
        font-size: 1rem;
        margin-left: 1rem;
      }
    }
  }

  &.grid-row {
    display: flex;
    margin: 0 1rem;
  }

  &.left-nav-col {
    top: 4rem;
    padding-top: 2rem;
    box-shadow: 1rem 0 2rem -1rem rgba(0, 0, 0, 0.1);
    height: calc(100vh - 4rem);
    position: sticky;
    border-right: 1px solid #fff;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #000c17;

    .menu-header {
      font-weight: 500;
    }

    &:focus, &:hover {
      overflow-y: auto;
    }
  }


  &.center-col {
    padding: 7rem 3rem 0rem;
    display: block;
    overflow-y: auto;
    flex: 1 0 auto;
  }

  &.right-col {
    top: 4rem;
    padding-top: 7rem;
    //background-color: red;
    //width: 10rem;
    position: sticky;
    border-left: 1px dotted rgba(0, 0, 0, .1);

    .menu {
      font-size: 0.875rem;
      color: #838383;

      .item {
        padding: 0.2rem 1rem;
      }
    }
  }

  &.title-link {
    font-weight: bold;
    margin-left: 1rem;

    h3 {
      margin: unset;
    }
  }

  &.home {
    background-image: url("back2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.link-text {
    font-size: 1rem;
    font-weight: bold;
  }

  /*  .submenu > .menu-list > .item, .menu > .menu-list > .item {
      padding-left: 2rem;
    }*/


  .doc-sample-panel {
    margin-bottom: 3rem;

    .doc-title {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      color: #ababab;

      &:hover {
        color: #277ed0;
      }
    }

    .doc-title-item {
      display: flex;
      font-size: 1.5rem;

      flex-direction: column;
    }

    .doc-code {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .grid {
    .row {
      border: 1px solid rgba(86, 61, 124, 0.2);
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    .row > div[class^=col-] {
      background-color: #ccc;
      border: 1px solid rgba(86, 61, 124, 0.2);
      background-color: rgba(86, 61, 124, 0.15);
    }
  }


  .grid-sample-col {
    .row {
      > [class^=col-] {
        padding: 0.5rem;
      }
    }
  }
}


.banner-container {
  margin-top: 3rem;
  width: 100%;
}

.banner {
  display: block;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  border: 0;
  padding: 2rem 0 0 0;
  color: #fff;

  > * {
    margin-top: 1.5rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .banner-icon {
    display: inline-block;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 4.5rem;
    border-radius: 50rem;
    border-top: 0.4rem solid #a57036;
    border-right: 0.4rem solid #e02c94;
    border-bottom: 0.4rem solid #9a2ec8;
    border-left: 0.4rem solid #06806C;
    box-shadow: 1px 1px 20px 0 rgb(255, 255, 255), -1px -1px 20px 0 rgb(255, 255, 255);
    font-style: italic;
  }

  .content {
    font-size: 1.5rem;
    text-align: center;
  }

  .line {
    text-align: center;
  }
}

@media screen and ("min-width": "992px") {
  .doc.left-nav-col, .doc.right-col {
    display: block;
  }
}

@media screen and ("max-width": "991.95px") {
  .doc.left-nav-col, .doc.right-col {
    display: none;
  }

  .doc.center-col {
    padding: 7rem 1rem 0rem;
    flex: 1 1 auto;
  }
}

